<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
!pip install yfinance==0.1.67
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
#!pip install plotly==5.3.1

Collecting yfinance==0.1.67
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from yfinance==0.1.67) (2.26.0)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from yfinance==0.1.67) (4.7.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from yfinance==0.1.67) (1.20.3)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from yfinance==0.1.67) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas>=0.24->yfinance==0.1.67) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests>=2.20->yfinance==0.1.67) (2021.10.8)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=33b5a8c8505b8df2527112e29ae9613b028650b63dc424a6ebd7e6a1a8a8978e
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/f2/b5/2c/59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.67
/usr/bin/sh: mamba: command not found

In [16]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [9]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [8]:
tesla = yf.Ticker("TSLA")
tesla_info = tesla.info
tesla_info

{'zip': '78725',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 99290,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'city': 'Austin',
 'phone': '(512) 516-8177',
 'state': 'TX',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.tesla.com',
 'maxAge': 1,
 'address1': '13101 Tesla Road',
 'industry': 'Auto Manufacturers',
 'ebitdaMargins': 0.1734,
 'profitMargins': 0.102539994,
 'grossMargins': 0.25279,
 'operatingCashflow': 11496999936,
 'revenueGrowth': 0.649,
 'operatingMargins': 0.121190004,
 'ebitda': 9333000192,
 'targetLowPrice': 67,
 'recommendationKey': 'buy',
 'grossProfits': 13606000000,
 'freeCashflow': 4628125184,
 'targetMedianPrice': 1090,
 'currentPrice': 1031.99,
 'earningsGrowth': 7.538,
 'currentRatio': 1.375,
 'returnOnAssets': 0.07135,
 'numberOfAnalystOpinions': 37,
 'targetMeanPrice': 953.51,
 'debtToEquity': 28.192,
 'returnOnEquity': 0.20426,
 'targetHighPrice': 1480,
 'totalCash': 17706999808,
 'totalDebt': 8903999488,
 'totalRevenue': 53823000576,
 'totalCashPerShare': 17.133,
 'financialCurrency': 'USD',
 'revenuePerShare': 54.587,
 'quickRatio': 0.999,
 'recommendationMean': 2.5,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 18.627,
 'beta3Year': None,
 'enterpriseToEbitda': 107.418,
 '52WeekChange': 0.3578068,
 'morningStarRiskRating': None,
 'forwardEps': 13.72,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 1033510016,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 29.225,
 'sharesShort': 25345219,
 'sharesPercentSharesOut': 0.024500001,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.42636,
 'netIncomeToCommon': 5523999744,
 'trailingEps': 4.901,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.078469515,
 'priceToBook': 35.31189,
 'heldPercentInsiders': 0.18375999,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': 1,
 'sharesShortPreviousMonthDate': 1646006400,
 'floatShares': 843228525,
 'beta': 2.079411,
 'enterpriseValue': 1002534666240,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '5:1',
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 7.596,
 'priceToSalesTrailing12Months': 19.82051,
 'dateShortInterest': 1648684800,
 'pegRatio': 2.52,
 'ytdReturn': None,
 'forwardPE': 75.23396,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.03,
 'sharesShortPriorMonth': 24557958,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 977.2,
 'regularMarketOpen': 1074.73,
 'twoHundredDayAverage': 894.65607,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 1090.5,
 'navPrice': None,
 'averageDailyVolume10Day': 21125330,
 'regularMarketPreviousClose': 977.2,
 'fiftyDayAverage': 932.0106,
 'trailingAnnualDividendRate': 0,
 'open': 1074.73,
 'toCurrency': None,
 'averageVolume10days': 21125330,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 1030,
 'currency': 'USD',
 'trailingPE': 210.6121,
 'regularMarketVolume': 25434746,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1066799333376,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 25681272,
 'dayLow': 1030,
 'ask': 1034.32,
 'askSize': 1300,
 'volume': 25434746,
 'fiftyTwoWeekHigh': 1243.49,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 546.98,
 'bid': 1035.64,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1100,
 'dayHigh': 1090.5,
 'regularMarketPrice': 1032.21,
 'preMarketPrice': 1075.14,
 'logo_url': 'https://logo.clearbit.com/tesla.com'}

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [10]:
tesla_data = tesla.history(period="max")
tesla_data.head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [11]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01). Save the text of the response as a variable named `html_data`.

In [22]:
import requests
html_data = requests.get("https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue").text

Parse the html data using `beautiful_soup`.

In [23]:
soup = BeautifulSoup(html_data, "html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [72]:
tesla_revenue = pd.read_html(str(tables[1]), flavor='bs4')[0]

tesla_revenue

tables = soup.find_all('table')
for index,table in enumerate(tables):
    if ("Tesla Quarterly Revenue" in str(table)):
        table_index = index
        
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in tables[1].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col!= []):
        Date = col[0].text
        Revenue = col[1].text
        tesla_revenue = tesla_revenue.append({"Date":Date, "Revenue":Revenue}, ignore_index=True)
        
tesla_revenue

          Date  Revenue
0   2021-12-31  $17,719
1   2021-09-30  $13,757
2   2021-06-30  $11,958
3   2021-03-31  $10,389
4   2020-12-31  $10,744
5   2020-09-30   $8,771
6   2020-06-30   $6,036
7   2020-03-31   $5,985
8   2019-12-31   $7,384
9   2019-09-30   $6,303
10  2019-06-30   $6,350
11  2019-03-31   $4,541
12  2018-12-31   $7,226
13  2018-09-30   $6,824
14  2018-06-30   $4,002
15  2018-03-31   $3,409
16  2017-12-31   $3,288
17  2017-09-30   $2,985
18  2017-06-30   $2,790
19  2017-03-31   $2,696
20  2016-12-31   $2,285
21  2016-09-30   $2,298
22  2016-06-30   $1,270
23  2016-03-31   $1,147
24  2015-12-31   $1,214
25  2015-09-30     $937
26  2015-06-30     $955
27  2015-03-31     $940
28  2014-12-31     $957
29  2014-09-30     $852
30  2014-06-30     $769
31  2014-03-31     $621
32  2013-12-31     $615
33  2013-09-30     $431
34  2013-06-30     $405
35  2013-03-31     $562
36  2012-12-31     $306
37  2012-09-30      $50
38  2012-06-30      $27
39  2012-03-31      $30
40  2011-12-31      $39
41  2011-09-30      $58
42  2011-06-30      $58
43  2011-03-31      $49
44  2010-12-31      $36
45  2010-09-30      $31
46  2010-06-30      $28
47  2010-03-31      $21
48  2009-12-31
49  2009-09-30      $46
50  2009-06-30      $27

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [73]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

/tmp/wsuser/ipykernel_155/349343550.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

Execute the following lines to remove an null or empty strings in the Revenue column.

In [74]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [75]:
tesla_revenue.tail()

          Date Revenue
45  2010-09-30      31
46  2010-06-30      28
47  2010-03-31      21
49  2009-09-30      46
50  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [77]:
gme = yf.Ticker("GME")
gme_info = gme.info
gme_info

{'zip': '76051',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 12000,
 'longBusinessSummary': 'GameStop Corp., a specialty retailer, provides games and entertainment products through its e-commerce properties and various stores in the United States, Canada, Australia, and Europe. The company sells new and pre-owned gaming platforms; accessories, such as controllers, gaming headsets, virtual reality products, and memory cards; new and pre-owned gaming software; and in-game digital currency, digital downloadable content, and full-game downloads. It also sells collectibles comprising licensed merchandise primarily related to the gaming, television, and movie industries, as well as pop culture themes. As of January 29, 2022, the company operated 4,573 stores and ecommerce sites under the GameStop, EB Games, and Micromania brands; and 50 pop culture themed stores that sell collectibles, apparel, gadgets, electronics, toys, and other retail products under the Zing Pop Culture brand, as well as offers Game Informer, a print and digital video game publication featuring reviews of new releases, previews of the big titles on the horizon, and coverage of the latest developments in the gaming industry. The company was formerly known as GSC Holdings Corp. GameStop Corp. was founded in 1996 and is headquartered in Grapevine, Texas.',
 'city': 'Grapevine',
 'phone': '817 424 2000',
 'state': 'TX',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.gamestop.com',
 'maxAge': 1,
 'address1': '625 Westport Parkway',
 'industry': 'Specialty Retail',
 'ebitdaMargins': -0.04359,
 'profitMargins': -0.063439995,
 'grossMargins': 0.22423,
 'operatingCashflow': -434300000,
 'revenueGrowth': 0.062,
 'operatingMargins': -0.05643,
 'ebitda': -262000000,
 'targetLowPrice': 23,
 'recommendationKey': 'underperform',
 'grossProfits': 1347800000,
 'freeCashflow': -296512512,
 'targetMedianPrice': 30,
 'currentPrice': 141.56,
 'earningsGrowth': None,
 'currentRatio': 1.918,
 'returnOnAssets': -0.071,
 'numberOfAnalystOpinions': 3,
 'targetMeanPrice': 47.67,
 'debtToEquity': 40.499,
 'returnOnEquity': -0.37397,
 'targetHighPrice': 90,
 'totalCash': 1271399936,
 'totalDebt': 649000000,
 'totalRevenue': 6010699776,
 'totalCashPerShare': 16.74,
 'financialCurrency': 'USD',
 'revenuePerShare': 82.792,
 'quickRatio': 1.167,
 'recommendationMean': 4,
 'exchange': 'NYQ',
 'shortName': 'GameStop Corporation',
 'longName': 'GameStop Corp.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'GME',
 'messageBoardId': 'finmb_1342560',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 1.777,
 'beta3Year': None,
 'enterpriseToEbitda': -40.774,
 '52WeekChange': -0.015346944,
 'morningStarRiskRating': None,
 'forwardEps': -3,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 76339200,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.222,
 'sharesShort': 12249471,
 'sharesPercentSharesOut': 0.16049999,
 'fundFamily': None,
 'lastFiscalYearEnd': 1643414400,
 'heldPercentInstitutions': 0.26783,
 'netIncomeToCommon': -381300000,
 'trailingEps': -5.252,
 'lastDividendValue': 0.38,
 'SandP52WeekChange': 0.078469515,
 'priceToBook': 6.6704364,
 'heldPercentInsiders': 0.16351,
 'nextFiscalYearEnd': 1706486400,
 'yield': None,
 'mostRecentQuarter': 1643414400,
 'shortRatio': 1.83,
 'sharesShortPreviousMonthDate': 1646006400,
 'floatShares': 62988030,
 'beta': -1.521568,
 'enterpriseValue': 10682831872,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1174262400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1552521600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 1.7978901,
 'dateShortInterest': 1648684800,
 'pegRatio': 0.59,
 'ytdReturn': None,
 'forwardPE': -47.186665,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.2642,
 'sharesShortPriorMonth': 11713653,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 148.85,
 'regularMarketOpen': 150,
 'twoHundredDayAverage': 160.2122,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 153.12,
 'navPrice': None,
 'averageDailyVolume10Day': 2541650,
 'regularMarketPreviousClose': 148.85,
 'fiftyDayAverage': 128.6868,
 'trailingAnnualDividendRate': 0,
 'open': 150,
 'toCurrency': None,
 'averageVolume10days': 2541650,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': 1552521600,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 139.91,
 'currency': 'USD',
 'regularMarketVolume': 1636648,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 10806577152,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 4623396,
 'dayLow': 139.91,
 'ask': 142.1,
 'askSize': 1000,
 'volume': 1636648,
 'fiftyTwoWeekHigh': 344.66,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 77.58,
 'bid': 141.01,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1000,
 'dayHigh': 153.12,
 'regularMarketPrice': 141.56,
 'preMarketPrice': 150.2,
 'logo_url': 'https://logo.clearbit.com/gamestop.com'}

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [78]:
gme_data = gme.history(period="max")
gme_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13,6.480514,6.773400,6.413183,6.766666,19054000,0.0,0.0
2002-02-14,6.850829,6.864295,6.682504,6.733002,2755400,0.0,0.0
2002-02-15,6.733002,6.749834,6.632007,6.699337,2097400,0.0,0.0
2002-02-19,6.665671,6.665671,6.312188,6.430016,1852600,0.0,0.0
2002-02-20,6.463680,6.648838,6.413182,6.648838,1723200,0.0,0.0
...,...,...,...,...,...,...,...
2022-04-14,149.270004,156.500000,147.220001,150.770004,2498300,0.0,0.0
2022-04-18,150.000000,151.240005,137.240005,141.460007,2467800,0.0,0.0
2022-04-19,142.850006,152.979996,139.860001,152.470001,2354200,0.0,0.0
2022-04-20,152.000000,152.330002,146.649994,148.850006,1162000,0.0,0.0
2022-04-21,150.000000,153.119995,139.910004,141.559998,1636648,0.0,0.0

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [79]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480514,6.773400,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850829,6.864295,6.682504,6.733002,2755400,0.0,0.0
2,2002-02-15,6.733002,6.749834,6.632007,6.699337,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312188,6.430016,1852600,0.0,0.0
4,2002-02-20,6.463680,6.648838,6.413182,6.648838,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html>. Save the text of the response as a variable named `html_data`.

Parse the html data using `beautiful_soup`.

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description          |
| ----------------- | ------- | ------------- | --------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part   |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab         |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>